


.u-section-1 {
  background-image: none;
  min-height: 730px;
}

.u-section-1 .u-image-1 {
  height: 731px;
  margin: 0;
}

.u-section-1 .u-image-2 {
  width: 92px;
  height: 92px;
  margin: -438px calc(((100% - 1140px) / 2) + 248px) 0 auto;
}

.u-section-1 .u-image-3 {
  width: 94px;
  height: 94px;
  margin: -126px calc(((100% - 1140px) / 2) + 127px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 77px;
  height: 77px;
  margin: 90px calc(((100% - 1140px) / 2) + 256px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 92px;
  height: 92px;
  margin: -92px calc(((100% - 1140px) / 2) + 127px) 0 auto;
}

.u-section-1 .u-image-6 {
  width: 92px;
  height: 92px;
  margin: -193px calc(((100% - 1140px) / 2) + 362px) 0 auto;
}

.u-section-1 .u-image-7 {
  width: 62px;
  height: 62px;
  margin: 39px calc(((100% - 1140px) / 2) + 377px) 0 auto;
}

.u-section-1 .u-image-8 {
  width: 333px;
  height: 333px;
  margin: -539px auto 0 calc(((100% - 1140px) / 2) + 71px);
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -215px auto 60px calc(((100% - 1140px) / 2) + 455px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-top: -437px;
    margin-right: calc(((100% - 940px) / 2) + 172px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2) + 49px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 178px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2) + 49px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 940px) / 2) + 286px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 940px) / 2) + 299px);
  }

  .u-section-1 .u-image-8 {
    margin-top: -540px;
    margin-left: calc(((100% - 940px) / 2) + 71px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -225px;
    margin-right: calc(((100% - 940px) / 2) + 378px);
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 49px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 178px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 49px);
  }

  .u-section-1 .u-image-6 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 286px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 299px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2) + 71px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 158px);
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 172px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2) + 49px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 178px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2) + 49px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 540px) / 2) + 286px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2) + 299px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 540px) / 2) + 71px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 794px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 52px;
    height: 52px;
    margin-top: -697px;
    margin-right: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 24px;
    margin-right: calc(((100% - 340px) / 2) + 49px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 90px;
    margin-right: calc(((100% - 340px) / 2) + 178px);
  }

  .u-section-1 .u-image-5 {
    width: 52px;
    height: 52px;
    margin-top: -52px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-6 {
    margin-top: 80px;
    margin-right: calc(((100% - 340px) / 2) + 248px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 39px;
    margin-right: calc(((100% - 340px) / 2) + 278px);
  }

  .u-section-1 .u-image-8 {
    width: 221px;
    height: 221px;
    margin-top: -86px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -718px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 60px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 793px;
}

.u-section-2 .u-group-1 {
  min-height: 52px;
  height: auto;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.3);
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: -22px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 22px;
  padding-right: 22px;
}

.u-section-2 .u-text-1 {
  margin: 2px 27px 0 9px;
}

.u-section-2 .u-image-1 {
  width: 538px;
  height: 51px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  width: 435px;
  margin: 24px auto 0;
}

.u-section-2 .u-text-3 {
  width: 704px;
  margin: 27px auto 0;
}

.u-section-2 .u-image-2 {
  width: 246px;
  height: 386px;
  margin: 15px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-3 {
  width: 226px;
  height: 406px;
  margin: -359px auto 0;
}

.u-section-2 .u-image-4 {
  width: 226px;
  height: 371px;
  margin: -402px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-image-5 {
  width: 480px;
  height: 300px;
  margin: -253px auto 0 calc(((100% - 1140px) / 2) + -70px);
}

.u-section-2 .u-image-6 {
  width: 480px;
  height: 300px;
  margin: -449px auto 0 calc(((100% - 1140px) / 2) + 312px);
}

.u-section-2 .u-image-7 {
  width: 480px;
  height: 300px;
  margin: -291px calc(((100% - 1140px) / 2) + -77px) 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 2130px;
  height: 39px;
  margin: 140px -371px 27px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 795px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 387px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-3 {
    height: 407px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -403px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2) + -70px);
  }

  .u-section-2 .u-image-6 {
    margin-left: calc(((100% - 940px) / 2) + 312px);
  }

  .u-section-2 .u-image-7 {
    margin-right: calc(((100% - 940px) / 2) + -77px);
  }

  .u-section-2 .u-icon-1 {
    margin: 160px -545px 30px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 770px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-5 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2) + -70px);
  }

  .u-section-2 .u-image-6 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2) + 240px);
  }

  .u-section-2 .u-image-7 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + -77px);
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 731px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2) + -70px);
  }

  .u-section-2 .u-image-6 {
    margin-left: calc(((100% - 540px) / 2) + 60px);
  }

  .u-section-2 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2) + -77px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1648px;
  }

  .u-section-2 .u-group-1 {
    min-height: 126px;
    margin-top: -56px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 32px;
    margin-top: 28px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 51px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 51px;
    margin-right: auto;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 213px;
    margin-top: -801px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 213px;
    margin-top: -505px;
    margin-right: calc(((100% - 340px) / 2) + -34px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-7 {
    width: 340px;
    height: 213px;
    margin-top: 509px;
    margin-right: calc(((100% - 340px) / 2) + -6px);
  }

  .u-section-2 .u-icon-1 {
    margin: 217px -845px 28px;
  }
} .u-section-3 {
  background-image: url("images/YyG5FrLe548a.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 993px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px 55px 0;
}

.u-section-3 .u-list-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 486px;
  grid-template-columns: calc(33.3333% - 21.3333px) calc(33.3333% - 21.3333px) calc(33.3333% - 21.3333px);
  grid-auto-columns: calc(33.3333% - 21.3333px);
  grid-gap: 32px 32px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 20px;
}

.u-section-3 .u-text-2 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-3 {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 20px;
}

.u-section-3 .u-text-4 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 40px 20px 0;
}

.u-section-3 .u-text-6 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-2 {
  width: 445px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-repeater-2 {
  min-height: 287px;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  grid-gap: 32px 32px;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 40px 20px;
}

.u-section-3 .u-text-8 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  width: 508px;
  height: 430px;
  margin: -407px 287px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 86px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 396px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 21.3333px));
    grid-auto-columns: calc(33.333333333333336% - 21.3333px);
  }

  .u-section-3 .u-image-1 {
    width: 390px;
    height: 330px;
    margin-top: -307px;
    margin-right: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 965px;
    grid-template-columns: repeat(2, calc(50% - 15.999975000000001px));
    grid-auto-columns: calc(50% - 15.999975000000001px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1534px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-2 {
    width: 340px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 288px;
    margin-top: 20px;
    margin-right: 0;
  }
}

.u-block-0bed-6:not([data-block-selected]):not([data-cell-selected]),
.u-block-0bed-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0bed-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0bed-11:not([data-block-selected]):not([data-cell-selected]),
.u-block-0bed-11:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0bed-11:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0bed-16:not([data-block-selected]):not([data-cell-selected]),
.u-block-0bed-16:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0bed-16:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-4 {
  background-image: none;
  min-height: 663px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 513px;
  margin: 0;
}

.u-section-4 .u-image-1 {
  width: 660px;
  height: 287px;
  margin: -137px auto 0 calc(((100% - 1140px) / 2) + -70px);
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -93px calc(((100% - 1140px) / 2) + -39px) 0 auto;
}

.u-section-4 .u-image-2 {
  width: 92px;
  height: 92px;
  margin: -67px calc(((100% - 1140px) / 2) + 126px) 0 auto;
}

.u-section-4 .u-image-3 {
  width: 92px;
  height: 92px;
  margin: -92px calc(((100% - 1140px) / 2) + 256px) 0 auto;
}

.u-section-4 .u-image-4 {
  width: 156px;
  height: 99px;
  margin: -92px calc(((100% - 1140px) / 2) + 365px) 19px auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 610px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 452px;
    height: 194px;
    margin-top: -97px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -83px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -73px;
    margin-right: calc(((100% - 940px) / 2) + 126px);
  }

  .u-section-4 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2) + 256px);
  }

  .u-section-4 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 365px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 126px);
  }

  .u-section-4 .u-image-3 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 256px);
  }

  .u-section-4 .u-image-4 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 365px);
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 126px);
  }

  .u-section-4 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2) + 256px);
  }

  .u-section-4 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 365px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 717px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 146px;
    margin-top: -66px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 63px;
  }

  .u-section-4 .u-image-2 {
    width: 56px;
    height: 55px;
    margin-top: -48px;
    margin-right: calc(((100% - 340px) / 2) + 114px);
  }

  .u-section-4 .u-image-3 {
    width: 62px;
    height: 62px;
    margin-top: -58px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + 89px);
  }

  .u-section-4 .u-image-4 {
    width: 73px;
    height: 46px;
    margin: -54px auto 17px calc(((100% - 340px) / 2));
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 6px 0;
  background: rgb(255, 255, 255);
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: -60px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logos:after {
  right: -60px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 240s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}